.blog-drop-menu {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: .5s cubic-bezier(0, 0, 0, 1.06);
    z-index: 12;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border-radius: 10px;
    padding: auto;
    padding: 10px 0;
    top: 0;
    left: 100%;
    background: white;
    transform: scaleX(0) translate(-100%, 0);
}

/* .blog-drop:hover > .blog-drop-menu,  */
.blog-drop-toggle:active + .blog-drop-menu, .blog-drop-toggle:focus + .blog-drop-menu {
    opacity: 1;
    height: auto;
    /* position: relative; */
    z-index: 12;
    transform: scaleX(1) translate(-0%, 0);
}

.blog-drop-toggle .trans{
    transition: .5s;
    font-size: 10px;
    line-height: 1;
}

.blog-drop-toggle:active .trans, .blog-drop-toggle:focus .trans{
    transform: rotate(-90deg);
}

.blog-container .left-blog .nav-link{
    color: var(--link-color);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 40px;
    transition: var(--transition1);
}

.blog-container .left-blog .nav-link.active {
    color: var(--primary-color);
}

.blog-container .left-blog .blog-drop-menu .nav-link {
    font-size: 15px;
    line-height: 2;
}

.blog-top {
    border: 2px solid #f9d250;
    border-width: 3px 0px 3px 0px;
    padding: 10px 10px;
}

.secondary-text {
    font-size: 15px;
    line-height: 25px;
    font-family: var(--fam2);
    font-weight: 500;
}

.primary-text {
    font-size: 18px;
    word-spacing: 5px;
    line-height: 30px;
    font-family: var(--fam2);
    font-weight: 400;
}

.blog-mid-header {
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
    background: -webkit-linear-gradient(89.41deg, #DCA946 -8.69%, #FED953 144.5%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3px;
}

.light-text {
    margin: 0;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 13px;
}

.post {
    border-top: 1px solid gray;
    padding-top: 20px;
}

.left-blog .flex-column {
    position: fixed;
    z-index: 5;
}