.pap-card {
    border-radius: 0px 30px;
    animation: border 6s linear infinite;
}

.pap-card img {
    width: auto;
    display: unset;
}

.tab-content>.active {
    opacity: 1 !important;
}

@keyframes border {
    0% {
        border-radius: 0px 30px;
    }

    50% {
        border-radius: 30px 0px;
    }

    100% {
        border-radius: 0px 30px;
    }
}



.card-1 {
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: 0;
}



.primary-header {
    background: linear-gradient(90deg, rgba(5, 56, 51, 1) 0%, rgba(182, 216, 214, 1) 100%);
    padding: 50px 10px;
}

a {
    text-decoration: none;
}

.primary-header2 {
    padding: 50px 10px;
    background: linear-gradient(90deg, rgba(60, 118, 214, 1) 0%, rgba(184, 206, 240, 1) 100%);
}

.primary-header3 {

    padding: 50px 10px;
    background: linear-gradient(90deg, rgba(253, 158, 41, 1) 0%, rgba(254, 224, 186, 1) 100%);

}

.primary-header4 {

    background: linear-gradient(90deg, rgba(55, 78, 142, 1) 0%, rgba(165, 182, 215, 1) 100%);
    padding: 50px 10px;
}

.primary-header5 {


    background: linear-gradient(90deg, rgba(252, 45, 61, 1) 0%, rgba(249, 211, 217, 1) 100%);
    padding: 50px 10px;
}

.primary-header6 {


    background: linear-gradient(90deg, rgb(4, 228, 127) 0%, rgb(248, 248, 248) 100%);
    padding: 50px 10px;
}

.primary-header7 {


    background: linear-gradient(90deg, rgb(120, 30, 30) 0%, rgba(204, 204, 204, 1) 100%);
    padding: 50px 10px;
}

.primary-header8 {

    background: linear-gradient(90deg, rgba(148, 32, 101, 1) 0%, rgba(234, 210, 224, 1) 100%);
    padding: 50px 10px;
}

.primary-header9 {


    background: linear-gradient(90deg, rgba(255, 88, 2, 1) 0%, rgba(255, 183, 147, 1) 100%);
    padding: 50px 10px;
}

.primary-header10 {

    padding: 50px 10px;

    background: linear-gradient(90deg, rgba(237, 12, 78, 1) 0%, rgba(252, 205, 219, 1) 100%);
}

.primary-header11 {


    padding: 50px 10px;

    background: linear-gradient(90deg, rgba(206, 104, 216, 1) 0%, rgba(252, 205, 219, 1) 100%);
}

.primary-header12 {


    background: linear-gradient(90deg, rgba(205, 220, 57, 1) 0%, rgba(221, 223, 205, 1) 100%);
    padding: 50px 10px;
}



.primary-header13 {


    background: linear-gradient(90deg, rgb(175, 153, 12) 0%, rgb(20, 81, 150) 100%);
    padding: 50px 10px;
}

.primary-header14 {


    background: linear-gradient(90deg, rgb(82, 11, 215) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 50px 10px;
}

.primary-header16 {


    background: linear-gradient(90deg, rgba(60, 188, 254, 1) 0%, rgba(249, 242, 246, 1) 100%);
    padding: 50px 10px;
}

.primary-header15 {


    background: linear-gradient(90deg, rgba(255, 87, 34, 1) 0%, rgba(253, 187, 45, 1) 100%);
    padding: 50px 10px;
}

.primary-header17 {


    background: linear-gradient(90deg, rgb(212, 8, 15) 0%, rgba(251, 246, 249, 1) 100%);
    padding: 50px 10px;
}

.primary-header18 {


    background: linear-gradient(90deg, rgba(111, 125, 250, 1) 0%, rgba(225, 197, 140, 1) 100%);
    padding: 50px 10px;
}

.primary-header19 {

    background: linear-gradient(90deg, rgba(253, 158, 41, 1) 0%, rgba(254, 224, 186, 1) 100%);
    padding: 50px 10px;
}

.primary-header20 {


    background: linear-gradient(0deg, rgba(248, 123, 126, 1) 0%, rgba(245, 218, 139, 1) 100%);
    padding: 50px 10px;
}

.primary-header21 {

    background: linear-gradient(0deg, rgba(6, 206, 174, 1) 0%, rgba(248, 123, 126, 1) 100%);
    padding: 50px 10px;
}

.primary-header22 {

    background: linear-gradient(90deg, rgba(45, 162, 108, 1) 0%, rgba(221, 240, 231, 1) 100%);
    padding: 50px 10px;
}

.primary-header23 {

    background: linear-gradient(90deg, rgba(253, 158, 41, 1) 0%, rgba(254, 224, 186, 1) 100%);
    padding: 50px 10px;
}

.primary-header24 {

    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 50px 10px;
}

.primary-header25 {

    background: linear-gradient(90deg, rgb(225, 7, 7) 0%, rgba(223, 202, 202, 1) 100%);
    padding: 50px 10px;
}




.rating-star img {
    width: 15px;
    display: inline-block;
}

.card-1 {
    box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    border: 0;
}

.course-card1 {
    background: linear-gradient(90deg, rgba(5, 56, 51, 1) 0%, rgb(10, 230, 215) 100%);
    padding: 50px 10px;
}

a {
    text-decoration: none;
}

.course-card2 {
    padding: 50px 10px;
    background: linear-gradient(90deg, rgba(60, 118, 214, 1) 0%, rgba(184, 206, 240, 1) 100%);
}

.course-card3 {

    padding: 50px 10px;
    background: linear-gradient(90deg, rgb(245, 146, 26) 0%, rgb(247, 194, 124) 100%);

}

.course-card4 {

    background: linear-gradient(90deg, rgba(55, 78, 142, 1) 0%, rgba(165, 182, 215, 1) 100%);
    padding: 50px 10px;
}

.course-card5 {


    background: linear-gradient(90deg, rgba(252, 45, 61, 1) 0%, rgb(242, 147, 162) 100%);
    padding: 50px 10px;
}

.course-card6 {


    background: linear-gradient(90deg, rgb(2, 79, 44) 0%, rgb(181, 240, 214) 100%);
    padding: 50px 10px;
}

.course-card7 {


    background: linear-gradient(90deg, rgb(120, 30, 30) 0%, rgb(209, 132, 132) 100%);
    padding: 50px 10px;
}

.course-card8 {

    background: linear-gradient(90deg, rgba(148, 32, 101, 1) 0%, rgba(234, 210, 224, 1) 100%);
    padding: 50px 10px;
}

.course-card9 {


    background: linear-gradient(90deg, rgba(255, 88, 2, 1) 0%, rgb(243, 166, 128) 100%);
    padding: 50px 10px;
}

.course-card10 {

    padding: 50px 10px;

    background: linear-gradient(90deg, rgba(237, 12, 78, 1) 0%, rgb(243, 175, 195) 100%);
}

.course-card11 {


    padding: 50px 10px;

    background: linear-gradient(90deg, rgb(220, 11, 239) 0%, rgba(252, 205, 219, 1) 100%);
}

.course-card12 {


    background: linear-gradient(90deg, rgb(3, 1, 130) 0%, rgb(123, 121, 236) 100%);
    padding: 50px 10px;
}



.course-card13 {


    background: linear-gradient(90deg, rgb(20, 81, 150) 0%, rgb(134, 178, 227) 100%);
    padding: 50px 10px;
}

.course-card14 {


    background: linear-gradient(90deg, rgb(82, 11, 215) 0%, rgba(148, 187, 233, 1) 100%);
    padding: 50px 10px;
}

.course-card15 {


    background: linear-gradient(90deg, rgba(255, 87, 34, 1) 0%, rgb(248, 204, 108) 100%);
    padding: 50px 10px;
}

.course-card16 {


    background: linear-gradient(90deg, rgba(60, 188, 254, 1) 0%, rgb(228, 77, 163) 100%);
    padding: 50px 10px;
}



.course-card17 {


    background: linear-gradient(90deg, rgb(212, 8, 15) 0%, rgb(240, 176, 214) 100%);
    padding: 50px 10px;
}

.course-card18 {


    background: linear-gradient(90deg, rgb(43, 63, 243) 0%, rgb(167, 175, 247) 100%);
    padding: 50px 10px;
}

.course-card19 {

    background: linear-gradient(90deg, rgba(253, 158, 41, 1) 0%, rgba(254, 224, 186, 1) 100%);
    padding: 50px 10px;
}

.course-card20 {


    background: linear-gradient(90deg, rgba(248, 123, 126, 1) 0%, rgb(235, 197, 85) 100%);
    padding: 50px 10px;
}

.course-card21 {

    background: linear-gradient(90deg, rgb(2, 248, 158) 0%, rgb(2, 107, 14) 100%);
    padding: 50px 10px;
}

.course-card22 {

    background: linear-gradient(90deg, rgb(2, 72, 39) 0%, rgb(166, 239, 205) 100%);
    padding: 50px 10px;
}

.course-card23 {

    background: linear-gradient(90deg, rgb(243, 143, 20) 0%, rgb(242, 181, 101) 100%);
    padding: 50px 10px;
}

.course-card24 {

    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 50px 10px;
}
.course-card25 {

    background: linear-gradient(90deg, rgb(225, 7, 7) 0%, rgba(223, 202, 202, 1) 100%);
    padding: 50px 10px;
}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color) !important;
    background-color: var(--bs-nav-pills-link-active-bg) !important;
}

